<a href="https://colab.research.google.com/github/gupta24789/python-tutorials/blob/main/03_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
- Dictionary is a collection which is ordered** and changeable. No duplicate members.



## List

- used to store multiple items in a single variable.
- items are ordered, changeable, and allow duplicate values.
- first item has index [0]
- List items can be of any data type
- data type is <class 'list'>
- you can use square brackets and list constructor to create list object.



### List Method
| Method    | Description                                                                  |   |
|-----------|------------------------------------------------------------------------------|---|
| append()  | Adds an element at the end of the list                                       |   |
| clear()   | Removes all the elements from the list                                       |   |
| copy()    | Returns a copy of the list                                                   |   |
| count()   | Returns the number of elements with the specified value                      |   |
| extend()  | Add the elements of a list (or any iterable), to the end of the current list |   |
| index()   | Returns the index of the first element with the specified value              |   |
| insert()  | Adds an element at the specified position                                    |   |
| pop()     | Removes the element at the specified position                                |   |
| remove()  | Removes the item with the specified value                                    |   |
| reverse() | Reverses the order of the list                                               |   |
| sort()    | Sorts the list                                                               |   |

In [3]:
## add element
a = [1,2,3,4,5]
print(a)
a.append(10)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

In [4]:
## clear
a = [1,2,3,4,5]
print(a)
a.clear()
print(a)

[1, 2, 3, 4, 5]
[]

In [5]:
## copy
a = [1,2,3,4,5]
print(a)
b = a.copy()
print(a)
print(b)
b[0] = 500
print(a)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[500, 2, 3, 4, 5]

In [6]:
## count
a = [5,1,2,3,4,5]
print(a)
print(a.count(5))

[5, 1, 2, 3, 4, 5]
2

In [9]:
## reverse
a = [5,1,2,3,4,5,6]
print(a)
a.reverse()
print(a)

[5, 1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1, 5]

In [10]:
## sort
a = [5,1,2,3,4,5,6]
print(a)
a.sort()
print(a)

[5, 1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 5, 6]

In [12]:
## Index

a = [5,1,2,3,4,5,6]
print(a)
print(a.index(5))  ## always gives index of fitst element


## calculate last index of element
a.reverse()
print(len(a) - a.index(5) - 1)

[5, 1, 2, 3, 4, 5, 6]
0
5

In [14]:
## pop
a = [5,1,2,3,4,5,6]
print(a)
popped_val = a.pop(3)
print(a)
print(f"popped val : {popped_val}")

[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 4, 5, 6]
popped val : 3

In [15]:
## insert
a = [5,1,2,3,4,5,6]
print(a)
a.insert(3, 30)
print(a)

[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 30, 3, 4, 5, 6]

In [21]:
## concat two list
a = [1,2,3]
b = [3,4,5]
print(a)
print(b)
a.extend(b)
print(a)
print(b)

[1, 2, 3]
[3, 4, 5]
[1, 2, 3, 3, 4, 5]
[3, 4, 5]

In [22]:
## concat two list
a = [1,2,3]
b = [3,4,5]
print(a)
print(b)
a = a+b
print(a)
print(b)

[1, 2, 3]
[3, 4, 5]
[1, 2, 3, 3, 4, 5]
[3, 4, 5]

## Loop through List

In [16]:
mylist = ["apple", "banana", "cherry"]
for item in mylist:
  print(item)

apple
banana
cherry

In [18]:
mylist = ["apple", "banana", "cherry"]
for item in mylist:
  print(item, end = ' ')

apple banana cherry

In [19]:
mylist = ["apple", "banana", "cherry"]
for i in range(len(mylist)):
  print(mylist[i])

apple
banana
cherry

## List Comprehension

In [32]:
mylist = [1,2,3,4,5,6]
print(mylist)

## List only even numbers
print("Even Number ", [num for num in mylist if num%2==0])
print("Square number else number : ", [num**2 if num%2==0 else num for num in mylist ])
print("Square ", [num**2 for num in mylist])

[1, 2, 3, 4, 5, 6]
Even Number  [2, 4, 6]
Square number else number :  [1, 4, 3, 16, 5, 36]
Square  [1, 4, 9, 16, 25, 36]

In [31]:
## nest list comprehension
mylist = [[1,2,3],[4,5,6]]
print("Square : ", [[item**2 for item in item_lst] for item_lst in mylist])

Square :  [[1, 4, 9], [16, 25, 36]]