<a href="https://colab.research.google.com/github/gupta24789/python-tutorials/blob/main/05_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sets

- used to store multiple items in a single variable.
- set is a collection which is unordered, unchangeable*, unindexed and do not allow duplicate values .
- Sets are written with curly brackets.
- It is also possible to use the set() constructor to make a set.



## Sets Method

| Method                        | Description                                                                    |
|-------------------------------|--------------------------------------------------------------------------------|
| add()                         | Adds an element to the set                                                     |
| clear()                       | Removes all the elements from the set                                          |
| copy()                        | Returns a copy of the set                                                      |
| difference()                  | Returns a set containing the difference between two or more sets               |
| difference_update()           | Removes the items in this set that are also included in another, specified set |
| discard()                     | Remove the specified item                                                      |
| intersection()                | Returns a set, that is the intersection of two other sets                      |
| intersection_update()         | Removes the items in this set that are not present in other, specified set(s)  |
| isdisjoint()                  | Returns whether two sets have a intersection or not                            |
| issubset()                    | Returns whether another set contains this set or not                           |
| issuperset()                  | Returns whether this set contains another set or not                           |
| pop()                         | Removes an element from the set                                                |
| remove()                      | Removes the specified element                                                  |
| symmetric_difference()        | Returns a set with the symmetric differences of two sets                       |
| symmetric_difference_update() | inserts the symmetric differences from this set and another                    |
| union()                       | Return a set containing the union of sets                                      |
| update()                      | Update the set with the union of this set and others                           |

## Create Set

In [8]:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)
print(type(thisset))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [9]:
thisset = {"apple", "banana", "cherry", True, 1, 2}   ## True and 1 are same only similarity False and 0 are same
print(thisset)

{'banana', True, 2, 'cherry', 'apple'}

In [11]:
thisset = set((1,2,3))
print(thisset)
print(type(thisset))

{1, 2, 3}
<class 'set'>

## Access Set Item

In [12]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

## Methods

In [13]:
## add
myset = {1,2,3}
print(myset)
myset.add(4)
print(myset)

{1, 2, 3}
{1, 2, 3, 4}

In [14]:
## clear
myset = {1,2,3}
print(myset)
myset.clear()
print(myset)

{1, 2, 3}
set()

In [15]:
## update
myset = {1,2,3}
print(myset)
myset.update({3,4,5})  ## adding another set
print(myset)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [16]:
## update
myset = {1,2,3}
print(myset)
myset.update([3,4,5])  ## adding list to set
print(myset)

{1, 2, 3}
{1, 2, 3, 4, 5}

In [17]:
## remove : If the item to remove does not exist, remove() will raise an error.
myset = {1,2,3}
print(myset)
myset.remove(2)
print(myset)

{1, 2, 3}
{1, 3}

In [18]:
## discard : If the item to remove does not exist, discard() will NOT raise an error.
myset = {1,2,3}
print(myset)
myset.discard(2)
print(myset)

{1, 2, 3}
{1, 3}

In [20]:
## union
myset1 = {1,2,3}
myset2 = {3,4,5}
print(myset1.union(myset2))

{1, 2, 3, 4, 5}

In [22]:
## difference
myset1 = {1,2,3}
myset2 = {3,4,5}
myset1.difference(myset2)  ## no inplace update: for inplace use difference_update
print(myset1)
print(myset2)

{1, 2, 3}
{3, 4, 5}

In [23]:
## difference update
myset1 = {1,2,3}
myset2 = {3,4,5}
myset1.difference_update(myset2)
print(myset1)
print(myset2)

{1, 2}
{3, 4, 5}

In [24]:
## intersection
myset1 = {1,2,3}
myset2 = {3,4,5}
print(myset1.intersection(myset2))

{3}

In [25]:
## symmetri difference
myset1 = {1,2,3}
myset2 = {3,4,5}
print(myset1.symmetric_difference(myset2))

{1, 2, 4, 5}